.head1{
background-color:white ;
width: 360px;
height: 110px;
border-radius:25px 25px 0px 0px    
}
.card2{
Width: 360px;
Height: 533px;
border-radius:25px ;
margin-left:100px ;
background-color:white ;
display: flex; 
}
.robert{
width:60px;
height:60px;
margin-top:20px ;
margin-left:20px ;
display:flex;   
}
.robertt{

font-size:20px ;
margin-top:30px ;
margin-left:10px ;
}
.project{
font-size:15px ;
color:#78858F;
margin-top:55px ;
margin-left:-110px ;
}
.troetochie{
width:40px;
height:48px;
margin-top:30px ;
margin-left:100px
}
.web{
font-size:14px;
color:#78858F;
margin-top:55px ;
margin-left:-90px ;
}
.dolorh{
flex-direction: column;
margin-top:50px ;
margin-left:20px;
font-size:29px ;   
}