header{ 
background-color:#161616; 
line-height:54px; 
     
} 
img{ 
width: 36px; 
height: 34px; a
vertical-align:middle; 
margin-left: 14px; 
} 
.span1{ 
vertical-align:middle; 
margin-left: 76px; 
color:white; 
} 
.about{ 
color:#F1BC00; 
vertical-align:middle;
margin-left: 76px;    
} 
.sidebar{ 
background:linear-gradient(180deg,#7A2334,#3E091B); 
Width:394px; 
Height:1026px; 
display:inline-block
} 
.web{ 
margin-left:14px;
color:#FFFFFF ; 
font-size:20px ;
} 
.cube{ 
width: 367px; 
height: 524px; 
margin-left: 14px; 
background-color:#BFBFBF          
} 
.text1{ 
color:#383838; 
margin-left:5px; 
margin-top:5px; 
font-size:18px; 
} 
.text2{ 
margin-top:30px; 
margin-left: 41px;   
} 
.red{ 
color:red; 
} 
.green{ 
color:green;     
} 
.imgs{ 
background:linear-gradient(180deg,#202639,#3F4C77); 
display:inline-block ;
Width:calc(100% - 394px); 
Height:1027px;
vertical-align: top;
}
.texts{
font-size:18px ;
}
.p{
margin-left:430px;
color:white
}

.html{
width: 371px;
height: 294px;
margin-left:10px ;

}
.css{
 width: 371px;
height: 294px;     
}
.js{
width: 371px;
height: 233px;
margin-left:10px;
margin-top:20px
}
.dev{
width: 371px;
height: 278px;
border-radius: 50px; position: absolute;
margin-left:-70px ;
margin-top:200px ; 
}
.webd{
background:#CDCDCD;
position: absolute;
margin-top:470px;
}
